body{
    display:flex;
    justify-content: center;
    padding-top: 15vh;
    font-family: 'Noto Sans';
}

.calculator-body{
    display:flex;
    flex-direction: column;

    padding: 20px;
    width: 35vw;
    height: 53vh;
    min-width: 400px;
    min-height: 575px;

    background-color: #373f40;
}

.result-screen{
    display:flex;
    flex-direction: column;
    background-color: #686b5b;
}

.numpad{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.numrow{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex:auto;
}

.btn{
    flex-grow: 1;
    align-self: stretch;
    text-align:center;
    
    margin-block: 20px;
    margin-inline: 5px;
    border-color: gray;
    border-radius: 15px;
    margin-inline: 2.5px;
    padding-block: 15px;
    padding-inline: 4px;
    min-width: 55px;

    color: white;
    background-color: #272b2b;
    font-weight: bold;
    font-size: 40px;
}

.btn.text{
    font-size: 32px;
    padding-block: 20px;
}

#user-input{
    background-color: #686b5b;
    padding-inline: 12px;
    margin-block: 8px;
    height: 30px;

    font-size: 24px;
    text-align: end;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#result{
    text-align: end;
    padding-inline: 10px;
}