body{
    display:flex;
    justify-content: center;
    padding-top: 15vh;
}

.calculator-body{
    display:flex;
    flex-direction: column;
    background-color: #373f40;
    padding: 20px;
    width: 20vw;
    height: 50vh;
    min-width: 300px;
    min-height: 550px;
}

.result-screen{
    display:flex;
    flex-direction: column;
    background-color: #686b5b;
}

.numpad{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.numrow{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex:auto;
    min-width: 150px;
}

.btn{
    border: 10px;
    border-color: gray;
    border-radius: 15px;
    margin-inline: 10px;
    background-color: #272b2b;
    flex-grow: 1;
    align-self: stretch;
    text-align:center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#user-input{
    display:flex;
    flex-grow: 1;
    background-color: #686b5b;
}

#result{
    text-align: end;
    padding-inline: 10px;
}